*{
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
    background-color: rgb(182, 182, 182);
    display: grid;
    grid-template-areas:
    'header header'
    'aside main'
    'footer footer'
    ;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 100px 1fr 50px;
    min-height: 100vh;
}
header{
    grid-area: header;
    background-color: rgb(53, 53, 139);
    padding: 1rem;
    color: white;
}
aside{
    display: flex;
    flex-direction: column;
    grid-area: aside;
    padding: 1rem;
    font-size: x-large;
    gap: 30px;
}
main{
    grid-area: main;
    padding: 1rem;
}
.grid-photo{
    display: flex;
    flex-wrap: wrap;
}
.grid-item{
    background-color: white;
    border: 1px solid black;
    margin: 20px;
    padding: 20px;
    border-radius: 10%;
}
button{
    background-color: rgb(53, 53, 139);
    color: white;
    width: 80%;
    height: 30px;
}
footer{
    grid-area: footer;
    background-color: rgb(53, 53, 139);
    padding: 1rem;
    color: white;
}